# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo

.eslintcache

# Cypress
/cypress/videos/
/cypress/screenshots/

# Vitest
__screenshots__/
 
 # Ignorer les dossiers node_modules
/node_modules/
/freeradius_configs/
/freeradius_logs/

# Ignorer les fichiers .env
/.env

# Ignorer les fichiers système (optionnel)
.DS_Store
Thumbs.db