<tr colspan="4" class="footer-row">
            <td>
                <div class="foot-section">
                    <div class="address-container">
                        <p>OrangCode Inc.
                        </p>
                    </div>
                </div>
            </td>

        </tr>