<tr class="image-row">
    <td colspan="4" style="padding: 20px; background-color: #f9f9f9;">
        <div class="logo-container" style="text-align: center;">
            <img 
                src="https://awss3bucket-design-assets.s3.eu-central-1.amazonaws.com/orangcode/logo+orange.png" 
                alt="Logo" 
                style="max-width: 150px; height: auto; display: inline-block;">
        </div>
    </td>
</tr>