{% extends "layouts/layout.njk" %}

{% block content %}
  <div>
    <h3>Multi-Factor Authentication (MFA)</h3>

    <p>Hello {{ fullName }}</p>

    <p>
      To enhance the security of your account on OrangCode, please verify your identity using the following code:
    </p>

    <p>
      <strong>Verification Code: {{ code }}</strong>
    </p>

    <p>
      This code will expire in {{ expiryMinutes }} minutes.
    </p>

    <p>
      If you did not request this code, please ignore this email.
    </p>

    <p>Kind Regards,<br> OrangCode</p>
  </div>
{% endblock %}